NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=https://app.fukubikiu.com
NEXT_PUBLIC_ATTEND_SITE_URL=https://app.attend-ar.com
ADMIN_ALLOWED_EMAILS=you@example.com
